source https://www.nuget.org/api/v2

nuget FAKE
nuget Freya
nuget FSharp.Core
nuget FSharp.Formatting
nuget Giraffe
nuget MarkdownSharp
nuget Microsoft.AspNetCore.Owin
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.Extensions.Configuration.FileExtensions
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.Options.ConfigurationExtensions
nuget Microsoft.FSharpLu.Json
nuget Nancy
nuget RavenDb.Client
